{{!< blank-layout}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="supercontainer super white-bg cf">
  <div class="supercontainer white-bg cf">
  <div class="vertibar parallaxy-animate" parallaxy-options='{"multiplier":"0.15", "direction":"down", "positionType": "absolute", "rotation": "rotate(-45deg)"}'>
    <div class="top green"></div>
    <div class="bottom grey"></div>
  </div>
  <div class="ng-c">
    <div class="ng-6c ng-5c-m ng-3c-l mt6">
      <h2 class="header-text large green mb5">Portfolio</h2>
      <div class="standard-text mb5">
        <p>I’ve been working pretty hard making apps & websites for almost 8 years now, and in all of that time my favorite project was my first project at a little agency in Salt Lake City called <span class="rally">Rally</span>.</p>

        <p><span class="rally">Rally</span> is a place where every developer is an ALL STACK developer, Front End, Back End, iOS, there was even talk of learning Android while I was there. The most important aspect of this is a desire to make the best work possible on any platform. The fastest performance, the smoothest animation, the cleanest code, & that is born out of a LOT of protoyping and experimentation.</p>

        <p>Rather than catalog all the work I’ve done in my career, I’ve decided to just walk you through the best work I’ve done, So far...</p>
      </div>
    </div>
  </div>
    </div>
  <div class="supercontainer white-bg cf">
    <div class="vertibar ancillary parallaxy-animate" parallaxy-options='{"multiplier":"0.10", "direction":"down", "positionType": "absolute", "rotation": "rotate(-45deg)"}'>
      <div class="top green"></div>
      <div class="bottom green"></div>
    </div>
    <div class="vertibar supra parallaxy-animate offset0" parallaxy-options='{"multiplier":"0.85", "direction":"down", "positionType": "absolute", "rotation": "rotate(-45deg)"}'>
      <div class="top green"></div>
      <div class="bottom green"></div>
    </div>
    <h2 class="supertext parallaxy-animate " parallaxy-options='{"multiplier":"0.20", "direction":"down", "positionType": "absolute", "rotation": "rotate(90deg)"}'>EPICURRENCE</h2>

    <div class="ng-c">
      <div class="ng-6c mt6 mb6">
        <img src="{{asset "images/portfolio/epicurrence3-001.jpg"}}"  class="portfolio unsullied enlarged-when-small" alt="">

      </div>
      <div class="standard-text center ng-6c ng-5c-m ng-4c-l mb6" >
        <p>A couple of years ago I had the great opportunity to work at one of the best design and development agencies in the world, <span class="rally">RALLY</span>. Since then everything has been pretty awesome. I’ve been freelancing and making bank on my own. I built the Epicurrence 3 site and it won an award so I think that’s pretty neat. Ben Cline was the designer and the project and it was pretty much just He and I the whole way.</p>

        <p>The Epicurrence 3 Site took us a couple of months. It went through an extensive ideation and experimentation process unlike anything I’ve done since. We spent time experimenting with various canvas based animations recreating seismic waves recorded by seismometers, and lots of creepy rotating and expanding polygons. We settled on simple parallax motion and custom filtered type.</p>
      </div>
      <div class="ng-6c mb6">
        <img src="{{asset "images/portfolio/epicurrence3-002.jpg"}}"  class="portfolio unsullied enlarged-when-small" alt="">
      </div>
      <div class="standard-text center ng-6c ng-5c-m ng-4c-l mb6">
        <p>Animating things in HTML Canvas wasn’t new back then, but the tools were far from mature. I had to learn about the Canvas draw process, how to clear an image buffer, and how to make an actual canvas animation work. I eventually achieved something similar to what you might see on a seismograph.</p>

        <p>I also did a lot of experimentation with animating and rotating polygons on Canvas. My favorite test from that age is called creepy triangle, and, as you could tell, was creepy. Ultimately these tests didn’t go anywhere and we moved on. Ben made an offhand comment about color filters and I began researching.</p>
      </div>

      <div class="fl ng-6c ng-3c-m ng-3c-l mb5">
        <img src="{{asset "images/portfolio/epicurrence3-005.jpg"}}"  class="portfolio" alt="">
      </div>
      <div class="fl ng-6c ng-3c-m ng-3c-l mb5">
        <img src="{{asset "images/portfolio/epicurrence3-004.jpg"}}"  class="portfolio" alt="">
      </div>

      <div class="standard-text center ng-6c ng-5c-m ng-4c-l mb6">
        <p>Deciding to use CSS Blend modes was, in my opinion, key to the final design that we built. CSS blend modes were new back then, and I hadn’t really seen it used anywhere, but they worked like a charm across most browsers so we made BIG text float independently over the website with the ‘multiply’ CSS Blend Mode applied. It gives everything a nice GREEN filter that it comes into contact with.</p>

        <p>By this time we were approaching the deadline for delivering the site. The Front End was great, but the back end was also important. There was a big push to include women and under represented groups more prominently at the conference. Epicurrence is invite only, but people are encouraged to apply and the bulk of attendees are drawn from those that applied.</p>
      </div>


      <div class="center ng-6c ng-4c-m ng-4c-l mb5">
        <img src="{{asset "images/portfolio/epicurrence3-003.jpg"}}"  class="portfolio unsullied" alt="">
      </div>

      <div class="ng-6c ng-5c-m ng-4c-l center standard-text cf">
        <p>I built a system to collect all of the essential information for an applicant: Name, Email, Twitter handle, and Gender (Male, Female, and Other. Nobody was paying attention to non-binary folks back then). The website actually has a backend system with a simple table view of everyone that’s applied and what percentage of them are women. It was a subtle tool to help Dann be mindful about the numbers behind his goal to be inclusive. I think it worked.</p>

        <p>When applicants are officially invited they receive an email with a unique invite code and a link to buy a ticket. The ticket system was built on Stripe and express.js. It was my first project in Node and I was very grateful to have the opportunity to choose which tech stack to use for the project. </p>

        <p>The Epicurrence Site launched in 2015, and it was fantastic.</p>
      </div>
      <div class="ng-6c mt7 mb7">
        <div class="logo-hr">
          <div class="wing"></div>
          <div class="logo"></div>
        </div>
      </div>
    </div>
    <div class="ng-c">
      <div class="ng-6c ng-5c-m ng-4c-l mt6 mb7">
        <h2 class="header-text green mb5">If you need some help making astonishing websites, Hit me up.</h2>
        <div class="standard-text mb5">
          <p>I’m open to new web projects and would love to be booked BEFORE september ends.</p>

          <p>To get in Contact please email <a href="mailto:me@kow.fm" target="_blank">me@kow.fm</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script type="text/javascript" src="{{asset "js/classie.js"}}"></script>
<script type="text/javascript" src="{{asset "js/parallaxative.js"}}"></script>
<script type="text/javascript">
  scrollyscroll = function() {
    parallaxController.scrollHandler();
    window.requestAnimationFrame( scrollyscroll );
  }
  scrollyscroll();

  // control the mobile menu real simply
  // var menubutton = document.getElementById('menubutton');
  // var mobilemenu = document.getElementById('mobilemenu');

  // menubutton.addEventListener('click', function(){
  //   classie.toggle( menubutton, 'close' )
  //   classie.toggle( mobilemenu, 'visible' )
  // });
</script>
{{/contentFor}}
