{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="supercontainer green-bg cf">

  {{> "site-nav"}}

  {{#post}}

  <div class="ng-c clearfix mb6">
    <div class="ng-6c mt5">
      <article class="text-block {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

        <h1>{{title}}</h1>

        <br />
          <span class="date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM D YYYY"}}</span>, <span>Tags: {{#if tags}}
              {{#foreach tags}}<a href="{{url}}" title={{name}} class="tag tag-{{id}} {{slug}}">{{name}}</a> {{/foreach}}
            {{/if}}</span>
            <div class="mb4"></div>
            {{#if feature_image}}
              <img class="post_feature-image mt4" src="{{feature_image}}" alt="">
            {{/if}}

        {{content}}

        <div class="ng-6c mt4 mb4">
          <div class="logo-hr">
            <div class="wing"></div>
            <div class="logo"></div>
          </div>
        </div>

        <ul class="author-list">
            {{#foreach authors}}
            <li class="author-list-item">

                {{#if profile_image}}
                <a href="{{url}}" class="static-avatar">
                    <img class="author-profile-image small" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                </a>
                {{else}}
                <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                {{/if}}
            </li>
            {{/foreach}}
        </ul>
        <div class="lesson-card-byline-content">
            <span>Authors: {{authors}}</span>
        </div>
      </article>
    </div>
  </div>
  {{/post}}

</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>
{{/contentFor}}
