{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}
<div class="ng-c">
  <div class="ng-6c">
  {{> "site-nav"}}
  </div>
  <div class="ng-6c ng-4c-ns">
  {{#tag}}
    <article class="text-block {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
      {{#if feature_image}}
      <img src="{{feature_image}}" alt="">
      {{/if}}
      <h1 class="f1 lh-title f1-m lh-title-m f1-l lh-title-l fw9">#{{name}}</h1>

      <p>
        {{#if description}}
            {{description}}
        {{else}}
            A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
      </p>

    </article>
  {{/tag}}
  </div>
</div>


<div class="ng-c clearfix">
  <div class="ng-6c mt5">
    {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
    {{/foreach}}
  </div>

  <div class="ng-6c mt7 mb7">
    <div class="logo-hr">
      <div class="wing"></div>
      <div class="logo"></div>
    </div>
  </div>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
$(function() {
    var $postContent = $(".post-full-content");
    $postContent.fitVids();
});
</script>
{{/contentFor}}
